@import './base.css';

body {
    display: flex;
    place-items: center;
}

#app {
    max-width: 1920px;
    margin: 0 auto;
    font-weight: normal;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 2rem;
}
